<% if @projects.blank? -%>

<div class="notice">No Matched Results</div>

<% else -%>

<%- projects = @projects.paginate(:page => params[:page], :per_page => 10) -%>
<%- for project in projects %>
  <%= render_project_html(project) %>
<%- end -%>
<%= will_paginate projects %>

<% end -%>