<% title "Categories" %>

<% if Category.roots.empty? %>
<div>Please add a <%= link_to "new category", new_admin_category_path %></div>

<% else -%>
<div class="">
  <div id="productlines" class="list">
  <%- for category in Category.roots -%>
  <%= render_category_html(category) %>
  <%- end -%>
  <div class="clear_fix"></div>
  </div>
</div>
<%= sortable_element("productlines", :url => sort_admin_categories_path ) %>
<p><%= link_to "Add a new category", new_admin_category_path %></p>
<% end -%>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.list').bind('mousedown', function(e) {
      e.stopPropagation();
    });
  })
</script>
